@media (max-width: 1399px) {
    .collections {
        &__list {
            grid-template-columns: 535px 535px;
        }
    }
}

@media (max-width: 1199px) {
    .collections {
        &__list {
            grid-template-columns: 945px;
            grid-auto-rows: 470px;
        }
        &__img {
            left: -17%;
        }
    }
}

@media (max-width: 991px) {
    .collections {
        &__list {
            grid-template-columns: 720px;
        }
        &__img {
            left: -23%;
        }
    }
}

@media (max-width: 767px) {
    .collections {
        &__list {
            grid-template-columns: 520px;
        }
        &__item {
            padding-left: 255px;
        }
        &__img {
            left: -36%;
        }
    }
}

@media (max-width: 575px) {
    // .container {
    //     max-width: 100%;
    //     padding: 0 10px;
    // }
    .collections {
        &__list {
            grid-template-columns: 290px;
        }
        &__item {
            padding-left: 120px;
            padding-right: 10px;
        }
        &__img {
            transform: scale(.3);
            left: -74%;
            top: -43%;
        }
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
    }
}
